<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="aws.mapper.BoardMapper">

    <select id="aaa" resultType="int">
        SELECT
            COUNT(*)
        FROM board
    </select>

    <select id="check" resultType="string">
        DESC board
    </select>
</mapper>